<div class="panel panel-primary">
  <div class="panel-heading">Search</div>
  <div class="panel-body">

    <div>
      <div class="form-group">
        <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Enter search criteria" name="search">
      </div>
      <button type="button" class="btn btn-default" (click)="onSearch()">Search</button>
    </div>

  </div>
</div>

<div *ngIf="showPleaseWait" [@showWaitState]='showPleaseWait'>
  Please wait we are getting the best opportunitis out there...
</div>

<div class="row" *ngFor="let result of results | async">
  <div class="col-md-12">
    <p>
      <a>
        <span>{{result.title}}</span>
      </a>
      <br />
      <span>
        {{result.description}}
      </span>
    </p>
  </div>
</div>